/* navbar css */

.main_nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 1%;
    color: #fff;
    background-color: #0006;
}

.all_nav {
    background-image: url(images/water.jpg);
    background-size: cover;

}
/* navbar end */
.header_text {
    /*justify-content: space-around;*/
    margin-top: 5%; 
    /*display: inline-block;*/
    padding-bottom: 10%;
}
/* header_image */

.header_form {
    margin: 1%;
    margin-left: 10%;
}

/*description text*/

.desc {
    margin:6%;
}

.card {
    padding: 5%;
}


.contact_field {
    max-width: 450px;
    margin-left: 50%;
    background-color: #0009;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px; 
}

.input_field {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

.button {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}